body{
background-color: grey;
font-size: 30px;
color: ivory;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
font-size: 35px; 
color: lawngreen;
}
tittle{
background-color:blue;
font-size: 40px;
color:white;
margin: 550px;
}
#główna{
font-size:20px;
}

